<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.green.jobdone.product.ProductMapper">
    <insert id="postProduct">
        INSERT INTO product
        SET businessId=#{businessId}
        ,detailTypeId=#{detailTypeId}
        ,price=#{productPrice}
    </insert>
    <select id="checkBusinessProduct">
        SELECT productId
        FROM product
        WHERE businessId=#{businessId}
    </select>
    <update id="updProduct">
        UPDATE product
        <set>
            <if test="productPrice!=null">
                price=#{productPrice}
            </if>
        </set>
        WHERE productId=#{productId}
    </update>
    <select id="checkUserBusiness">
        SELECT userId
        FROM business
        WHERE businessId=#{businessId}
    </select>
    <select id="checkUserUpdProduct">
        SELECT b.userId
        FROM product a
        LEFT JOIN business b
            on a.businessId=b.businessId
        WHERE a.productId=#{productId}
    </select>








    <insert id="postOption">
        INSERT INTO option
        SET productId=#{productId}
        ,name=#{optionName}
    </insert>
    <select id="checkOption">
        SELECT name
        FROM option
        WHERE detailTypeId=#{detailTypeId}
    </select>
    <resultMap id="selOptionResultMap" type="com.green.jobdone.product.model.ProductGetOption">
        <result property="detailTypeId" column="detailTypeId"/>
        <result property="detailTypeName" column="detailTypeName"/>
        <collection property="detailTypeOptions" resultMap="selOptionDetailResultMap"/>
    </resultMap>
    <resultMap id="selOptionDetailResultMap" type="com.green.jobdone.product.model.dto.ProductGetOptionDto">
        <result property="optionId" column="optionId"/>
        <result property="optionName" column="name"/>
    </resultMap>
    <select id="getProductOption" resultMap="selOptionResultMap">
        SELECT a.detailTypeId
        ,a.detailTypeName
        ,b.name
        ,b.optionId
        FROM detail_type a
        LEFT JOIN option b
        on a.detailTypeId=b.detailTypeId
    </select>


    <insert id="postProductOption">
        INSERT INTO option
        SET productId=#{productId}
        ,name=#{name}
    </insert>
    <select id="checkProductOption">
        SELECT optionId
        FROM option
        WHERE productId=#{productId}
    </select>
    <select id="checkUserProductOption">
        SELECT b.userId
        FROM product a
        LEFT JOIN business b
        on a.businessId=b.businessId
        WHERE a.productId=#{productId}
    </select>





    <insert id="postOptionDetail">
        INSERT INTO option_detail
        SET optionId=#{optionId}
        ,contents=#{contents}
        ,price=#{optionDetailPrice}
        ,name=#{optionDetailName}
    </insert>
    <select id="checkProductOptionDetail">
        SELECT name
        FROM option_detail
        WHERE optionId=#{optionId}
    </select>
    <update id="updOptionDetail">
        UPDATE option_detail
        <set>
            <if test="optionDetailPrice!=null">
                price=#{optionDetailPrice}
            </if>
            <if test="optionDetailName!=null">
                ,name=#{optionDetailName}
            </if>
            <if test="contents!=null">
                ,contents=#{contents}
            </if>
        </set>
        WHERE optionDetailId=#{optionDetailId}
    </update>
    <select id="checkUserOptionDetail">
        SELECT c.userId
        FROM option a
        LEFT JOIN product b
        on a. productId=b.productId
        LEFT JOIN business c
        on b.businessId=c.businessId
        where a.optionId=#{optionId}
    </select>
    <select id="checkUserUpdOptionDetail">
        SELECT d.userId
        FROM option_detail a
        LEFT JOIN option b
            on a.optionId=b.optionId
        LEFT JOIN product c
            on  b.productId=c.productId
        LEFT JOIN business d
            on c.businessId=d.businessId
        WHERE a.optionDetailId=#{optionDetailId}
    </select>




    <resultMap id="selProductOptionResultMap" type="com.green.jobdone.product.model.ProductGetRes">
        <id property="productId" column="productId"/>
        <result property="productPrice" column="productPrice"/>
        <result property="detailTypeName" column="detailTypeName"/>
        <collection property="optionList" resultMap="selProductOptionListResultMap"/>
    </resultMap>

    <resultMap id="selProductOptionListResultMap" type="com.green.jobdone.product.model.dto.ProductGetDto">
        <id property="optionId" column="optionId"/>
        <result property="optionName" column="optionName"/>
        <collection property="optionDetailList" resultMap="selProductOptionDetailListResultMap"/>
    </resultMap>

    <resultMap id="selProductOptionDetailListResultMap" type="com.green.jobdone.product.model.dto.ProductGetDtoDto">
    <id property="optionDetailId" column="optionDetailId"/>
    <result property="optionDetailName" column="optionDetailName"/>
    <result property="optionDetailPrice" column="optionDetailPrice"/>
    <result property="contents" column="contents"/>


    </resultMap>
    <select id="getProductInfoByBusiness" resultMap="selProductOptionResultMap">
        SELECT
            a.productId
            ,a.price as productPrice
            ,b.optionId
            ,b.name as optionName
            ,c.optionDetailId
            ,c.name as optionDetailName
            ,c.price as optionDetailPrice
            ,c.contents
            ,e.detailTypeName
        FROM product a
        left JOIN option b
            ON a.productId=b.productId
        left JOIN option_detail c
            ON b.optionId=c.optionId
        left JOIN detail_type e
            on a.detailTypeId=e.detailTypeId
        WHERE a.businessId=#{businessId}
        order by c.price
    </select>





</mapper>