<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.jobdone.qa.QaMapper">
    <select id="getQa">
        SELECT a.createdAt,a.qaId,b.name as userName,b.type as userTypeDB,d.type as qaType,a.qaState
        FROM qa a
        LEFT JOIN user b
        on a.userId=b.userId
        LEFT JOIN qa_type_detail c
        on a.qaTypeDetailId=c.qaTypeDetailId
        LEFT JOIN qa_type d
        on c.qaTypeId=d.qaTypeId
        ORDER BY a.qaId DESC
    </select>



    <resultMap id="qaPicDetail" type="com.green.jobdone.qa.model.QaDetailRes">
        <result property="contents" column="contents"/>
        <collection property="pics" column="pic" resultMap="qaPicDetails"/>
    </resultMap>

    <resultMap id="qaPicDetails" type="String">
        <result property="pic" column="pic"/>
    </resultMap>

    <select id="getQaDetail" resultMap="qaPicDetail">
        SELECT a.contents, b.pic
        FROM qa a
        LEFT JOIN qa_pic b
        ON a.qaId=b.qaId
        WHERE a.qaId=#{qaId}
    </select>





</mapper>