<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.jobdone.room.RoomMapper">
    <insert id="insRoom" keyProperty="roomId" useGeneratedKeys="true">
        insert into room
        set
        businessId = #{businessId},
        userId = #{userId}
        <if test="serviceId != null">
            ,serviceId = #{serviceId}
        </if>
    </insert>


    <select id="selRoom">
        SELECT a.roomId, ifnull(c.createdAt,a.createdAt) AS roomCreatedAt, a.businessId, a.userId,
        b.title, b.businessName, c.chatId, a.serviceId, e.name as userName,
        IF(d.pic IS NOT NULL, '사진', c.contents) AS recentlyChat, b.logo, e.pic
        FROM room a
        LEFT JOIN business b ON a.businessId = b.businessId
        LEFT JOIN service s ON a.serviceId = s.serviceId
        LEFT JOIN chat c ON a.roomId = c.roomId
        AND c.chatId = (
        SELECT MAX(chatId)
        FROM chat
        WHERE roomId = a.roomId
        )
        left join user e on a.userId = e.userId
        LEFT JOIN chat_pic d ON c.chatId = d.chatId
        WHERE
        <if test="userId != null">
            a.userId = #{userId}
            and a.state in('00201','00203')
        </if>
        <if test="businessId != null">
            a.businessId = #{businessId}
            and a.state in('00201','00202')
        </if>
        order by c.chatId desc, a.roomId desc;
    </select>

</mapper>